
.Menu {
    display: block;
    position: fixed;
    padding-top: 20px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.25em;
    z-index: 99;
}

@media screen and (max-width: 900px) {
    .Menu {
        font-size: 12px;
    }
    .navUl {
        padding-left: 0px;
    }
}

@media screen and (max-width: 440px ) {
    .navAnchor {
        display: contents;
    }
}


.navBar {
    display: flex;
    flex-wrap: wrap;
}

.navUl {
    display: flex;
    margin: 18px auto auto auto ;
    padding: 0px;
}

.navList {
    list-style: none;
}

.navList:last-child {
    font-weight: bold;
}

.navAnchor {
    padding: 24px 10px 0px 10px;
    text-decoration: none;
    color: #202020;
}

.logo {
    display: flex;
    margin: auto;
}
