@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&family=Montserrat:wght@400;500;700;900&display=swap');



#divNewsletter {
    margin: 210px auto 0px 20vw;
    display: inline-block;
    
    line-height: 2em;
    color: #202020;
}

@media screen and (max-width: 900px) {
    #divNewsletter {
        background-color: #ffe29a;
        width: 100%;
        margin-left: auto;
    }
    #divNewsletter > h1, h2, p {
        margin: auto;
    }

   
}

#divNewsletter > h1 {
    font: normal normal 900 82px/94px 'Elsie Swash Caps', cursive; 
    max-width: 360px;

}

#divNewsletter > h2 {
    font: normal normal 400 22px/27px 'Montserrat', sans-serif;
    opacity: 0.5;
    max-width: 360px;

}

#divNewsletter > p {
    font: normal normal 400 16px/26px 'Montserrat', sans-serif;
    opacity: 0.5;
    max-width: 360px;

}

#emailDiv {
    align-items: center;
    text-align: center;
    display: flex;
}

#emailInput {
    font: normal normal 400 16px/20px 'Montserrat', sans-serif;
    text-indent: 50px;
    width: 390px;
    height: 75px;
    border: 0;
    outline-style: none;
    box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, 0.205);
    margin-top: 40px;
    background: white url('../../images/mail.svg') no-repeat 10px;  
}

#emailButton {
    width: 194px;
    height: 75px;
    border-style: none;
    background-color: #FFCB47;
    color: white;
    font: normal normal 400 16px/20px 'Montserrat', sans-serif;
    box-shadow: 4px 4px 7px 1px #cca032;
    margin-top: 37px;
}

#emailButton:hover {
    background-color: #fabc20;
    transition-duration: 0.4s;
    box-shadow: 4px 4px 7px 1px #ffd467;
}

#emailInput::placeholder {
    font: normal normal 400 16px/20px 'Montserrat', sans-serif;
    color: #202020;
    opacity: 0.3;
    padding-left: 40px;
}

#emailInput:focus::placeholder {
    color: transparent;
}


#emailIcon {
    position: absolute;
    display: block;
    margin-top: -43px;
    margin-left: 5px;
}

#imgHero {
    display: flex;
    position: absolute;
    z-index: -1;
    left: 50%;
}

@media screen and (max-width: 900px) {
  #emailInput, #emailButton {
    display: block;
    margin: auto;
    box-shadow: none;
  }
  #emailButton {
    width: 390px;
  }

  #imgHero {
    visibility: hidden;
  }

  #emailIcon {
    margin-left: 29vw;
    display: block;
    position: absolute;
  }
}
