@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&family=Montserrat:wght@400;500;700;900&display=swap');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

.bg1  {
  background-image: url('./images/body-shape.svg');
  background-repeat: no-repeat;
  background-position: right top;  
  z-index: -998;
  position: absolute;
  width: 100%;
  height: 100%;
}

.bg2  {
  background-image: url('./images/bg.jpg');
  background-repeat: repeat-y;
  z-index: -999;
  position: absolute;
  width: 100%;
  height: 100%;
}

.bg3 {
  background-image: url('./images/Linhas.svg');
  background-repeat: repeat;
  z-index: -999;
  position: absolute;
  width: 100%;
  height: 100%;
}



@media screen and (max-width: 900px) {
  .bg1 {
    background-image: none;
  }
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}